<div class="container contenu">
  <%= link_to " Delete", "#", class: "btn btn-sm btn-danger bouton far fa-trash-alt", remote: true %>
  <h3><%= email.object %></h3>
  <hr>
  <p><%= email.body %></p>
</div>
