// Place all the styles related to the Email controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.content {
  margin-top: 100px;
}

.viewer {
  margin-top: 20px;
}

.contenu {
  border: none;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 10px;
  background-color: #e4eaff;

}

.liste {
  align-items: left;

}

.list-group-item:hover {
  background-color: #e4eaff !important;
}

.list-group-item:active {
  background-color: #e4eaff !important;
}

.bouton {
  float: right;
  display: inline-block;
}

.read {

}

.ur {
  font-weight: bold;
  
}
