<section class="content">
  <div class="container">
    <div class="row viewer">
      <div class="col-3 liste">
        <div class="list-group">
          <% @email.each do |email| %>
            <%= link_to "#{email.object}", email_path(email), class: 'show list-group-item list-group-item-action', remote: true %>
          <% end %>
        </div>
      </div>
      <div class="col-9 ">
        <% email = [] %>
        <% if !email[0].nil? %>
        <%= render 'emails/contenu' %>
        <% end %>
      </div>
    </div>
  </div>
</section>
