
<div class="footer">
  <div id="button"></div>
    <div id="container">
      <div id="cont">
        <div class="footer_center">
	       <h3>La Fine Équipe</h3>
        </div>
      </div>
  </div>
</div>
