
<div class="footer">
  <div id="button"></div>
    <div id="container">
      <div id="cont">
        <div class="footer_center">
	       <h3>La Fine Équipe</h3>
         <p>front inspired by <a href="https://automaileroui.herokuapp.com/">Bastien Willet</a></p>
         <div class="row">
           <div class="col-4">
             <p>@François D.
             <a href="https://github.com/TheFSilver" class="fab fa-github-square"></a>
             </p>
           </div>
           <div class="col-4">
             <p>@Jeremy Rak
             <a href="https://github.com/skageraz" class="fab fa-github-square"></a>
             </p>
           </div>
           <div class="col-4">
             <p>@Titouax
             <a href="https://github.com/Titouax" class="fab fa-github-square"></a>
             </p>
           </div>
         </div>
        </div>
      </div>
  </div>
</div>
